<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <!-- need to use coarse location if we want to use fine location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.LoginFinal">
        

        <activity
            android:name="com.example.myapplication.RegisterUser"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.EmployeeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.EmployerActivity"
            android:exported="false" />

        <activity
            android:name="com.example.myapplication.JobSearch"
            android:exported="false" />

        <activity
            android:name="com.example.myapplication.ViewApplications"
            android:exported="false" />

        <activity
            android:name="com.example.myapplication.Newpage"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.Register"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.CreateJob"
            android:exported="false" />
        <activity
            android:name="com.example.myapplication.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.myapplication.LoginActivity"/>
    </application>

</manifest>